* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    Creazione layout griglia 1140
    colonne 12
    dimensione colonna 95px

*/

body {
    background-color: gainsboro;
}

.contenitore {
  width: 1170px;
  margin: 0 auto;
}

.contenitore::after {
    display: table;
    clear: both;
    content: '';
}

[class *="col-"] {
    float: left;
    height: 100px;
    border: 1px solid black;
}


/* Posizioni */

.sinistra {
  text-align: left;
}

.destra {
  text-align: right;
}

.centro {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.centro-contenitore {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* Fine posizioni */


/* Inizio Colonne Framework */
.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

.col-12 {
    width: calc((100% / 12) * 12);
}
/* Fine Colonne Framework */


/* Inizio margini sinistra per esempio*/
.margine-sinistro-1 {
    margin-left: calc((100% / 12) * 1);
}

.margine-sinistro-2 {
    margin-left: calc((100% / 12) * 2);
}

.margine-sinistro-3 {
    margin-left: calc((100% / 12) * 3);
}

.margine-sinistro-4 {
    margin-left: calc((100% / 12) * 4);
}

.margine-sinistro-5 {
    margin-left: calc((100% / 12) * 5);
}

.margine-sinistro-6 {
    margin-left: calc((100% / 12) * 6);
}

.margine-sinistro-7 {
    margin-left: calc((100% / 12) * 7);
}

.margine-sinistro-8 {
    margin-left: calc((100% / 12) * 8);
}

.margine-sinistro-9 {
    margin-left: calc((100% / 12) * 9);
}

.margine-sinistro-10 {
    margin-left: calc((100% / 12) * 10);
}

.margine-sinistro-11 {
    margin-left: calc((100% / 12) * 11);
}

.margine-sinistro-12 {
    margin-left: calc((100% / 12) * 12);
}
/* Fine margini sinistra */

/* Inizio margini destra per esempio*/
.margine-destro-1 {
    margin-right: calc((100% / 12) * 1);
}

.margine-destro-2 {
    margin-right: calc((100% / 12) * 2);
}

.margine-destro-3 {
    margin-right: calc((100% / 12) * 3);
}

.margine-destro-4 {
    margin-right: calc((100% / 12) * 4);
}

.margine-destro-5 {
    margin-right: calc((100% / 12) * 5);
}

.margine-destro-6 {
    margin-right: calc((100% / 12) * 6);
}

.margine-destro-7 {
    margin-right: calc((100% / 12) * 7);
}

.margine-destro-8 {
    margin-right: calc((100% / 12) * 8);
}

.margine-destro-9 {
    margin-right: calc((100% / 12) * 9);
}

.margine-destro-10 {
    margin-right: calc((100% / 12) * 10);
}

.margine-destro-11 {
    margin-right: calc((100% / 12) * 11);
}

.margine-destro-12 {
    margin-right: calc((100% / 12) * 12);
}
/* Fine margini destra */

.margine-top-1 {
    margin-top: calc((100% / 12) * 1);
}

.margine-bottom-1 {
    margin-bottom: calc((100% / 12) * 1);
}

#header-top {
    background-color: blue;
    height: 100px;
}

#header-bottom {
    background-color: lightblue;
    height: 100px;
}

#sidebar-left {
    background-color: aqua;
    height: 600px;
}

.widget {
    background-color: green;
    height: 300px;
}

#main-content-top {
    background-color: honeydew;
    height: 600px;
}


#footer-top {
    background-color: red;
    height: 100px;
}

#footer-bottom {
    background-color: darkred;
    height: 100px;
}
#spot {
    background-color: gold;
    height: 300px;
}
